body {
  background-image: radial-gradient(pink, purple, black);
  background-repeat: no-repeat;
  background-size: 100%;
}

nav {
  background-image: radial-gradient(black, purple, pink);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
}

.navbar-light .navbar-nav .nav-link {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
}

.navbar-light .navbar-text {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
}

.navbar-light .navbar-brand {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
}

.jumbotron {
  background-image: url(pretty.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron, footer, .navbar-light .navbar-brand {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
}

footer {
  text-align: center;
  padding-top: 2%;
}

.carouselExampleControls {
  width: auto;
}

/* .display-4, .lead {
   text-shadow: 2px 2px #ff0000;

} */
